
 /* body{
    background:linear-gradient(orange,white,green);
} */
#logo{
    background-image: url(../pics/medlogo.png);
     width: 50px;
    height: 40px;
    background-size:contain;
    cursor: pointer;
    border-radius: 50%;
}
#icon{
    
    position: relative;
    left:440px;
    bottom:30px;

}
#icon1{
    position: relative;
    left:440px;
    bottom:30px;

}