<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/angular.min.js"></script>
    <script>
        var mymodule=angular.module("kuchbhiModule",[]);
        //$scope is lib object provided by angular
        mymodule.controller("kuchController",function($scope,$http)
        {
            
            $scope.name="Rajesh Bansal";
            $scope.fn;
            $scope.ln;
            $scope.full;
            $scope.doJoin=function()
                {
                    $scope.full=$scope.fn+" "+$scope.ln;
                }
              //====================
                $scope.doDelete=function(uid)
                {
                   $http.get("/doDeleteProfile?uid="+uid).then(okFx,notOkFx);
                function okFx(response)  //response is local of okFx()
                {
                    //alert("All is well");
                    alert(response.data);
                    $scope.fetchAll();
                   
                }
                function notOkFx(response)
                {
                        alert("Dangerr");
                      //alert(JSON.stringify(response.data))  ;
                }
                }
      
          //-----------------------------
          $scope.jsonArray=[{}] ;
         //----------------------------
        $scope.fetchAll=function()
        {
                $http.get("/fetchProfiles").then(okFx,notOkFx);
                function okFx(response)  //response is local of okFx()
                {
                    //alert("All is well");
                    //alert(JSON.stringify(response.data));
                    $scope.jsonArray=response.data;
                }
                function notOkFx(response)
                {
                        alert("Danger");
                      alert(JSON.stringify(response.data))  ;
                }
        }

        })
    </script>
    <title>Document</title>
</head>
<body ng-app="kuchbhiModule" ng-controller="kuchController" ng-init="fetchAll();">

    <input type="text" ng-model="name">
    <br>
    {{name}}
    <br>
    Rep:
    <input type="text" ng-model="name">
    <hr>
    F.Name <input type="text" ng-model="fn"> <br>
    Last Name <input type="text" ng-model="ln">
    <br>
    <input type="button" ng-click="doJoin();" value="Join">   
    <br>
    Full Name: <input type="text" ng-model="full">
    <hr>
    <center>
    <h3>JSON ARRAY</h3>
    <p>
        <center>
            <input type="button" value="Fetch All" ng-click="fetchAll();">
            </center> </p>
    <hr>
    <p>
        serach <input type="text" ng-model="google.languages"> <!-- .colName -->
    </p>      
    <table width="800" border="1" rules="all">
        <tr>
            <th>Sr. No.</th>
            <th>UID</th>
            <th>password</th>
            <th>mobile</th>
            <th>Branch</th>
            <th>languages</th>
            <th>Pic</th>
        </tr>
        <tr ng-repeat="obj in jsonArray|filter:google">
                <td align="center">{{$index+1}}</td>
               <td>{{obj.uid}}</td> 
               <td>{{obj.pwd}}</td>
               <td>{{obj.mobile}}</td>
               <td>{{obj.branch}}</td>
               <td>{{obj.languages}}</td>
               <td>
                <img src="uploads/{{obj.picpath}}" width="100" height="100" alt="">  </td>

               <td align="center">
                <input type="button" value="delete" ng-click=doDelete(obj.uid); >
                </td>

        </tr>
    </table>
    </center>
    


</body>
</html>